# IntelliJ IDEA
.idea/
*.iml
out/
optimization-output/

# Java
*.class
*.log

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS
.DS_Store

# Archives
*.zip
*.tar
*.gz
*.rar

# Generated simulation reports
simulation-output/
